<%= form_with model: @room do |form| %>
  <div class="mb-4">
    <%= form.label :name, 'Nome', class: "block mb-2 text-lg font-medium text-gray-700" %>
    <%= form.text_field :name, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300" %>
  </div>
  <div class="mb-4">
    <div class="flex items-center">
      <%= form.label :is_private, 'É privado?', class: "mr-2 border-gray-300 rounded focus:outline-none focus:ring"%>
      <%= form.check_box :is_private, class:"text-lg text-gray-700" %>
    </div>
  </div>
  <div class="mt-8">
    <%= form.submit 'Salvar', class: "w-full py-3 px-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" %>
  </div>
  <%= link_to 'Voltar', rooms_path, class: "mt-4 block text-center w-full py-3 px-4 bg-gray-300 text-gray-700 font-semibold rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75" %>
<% end %>
